# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @EdwynZN

# Only the administrator can change .github folder and .gitignore
.github/*       @EdwynZN
.gitignore      @EdwynZN